.navbar {
    background: #1d63ab;
    height: 80px;
    text-align: center;
  }
  
  .navbar a {
    color: white;
    padding-left: 500px;
    font-size: 1.8rem;
    font-family: "Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
    text-decoration: underline; 
    margin: 5px;
    line-height: 3;
  }
  